body {
	margin: 0;
	background-color: #f2f1ec;
	font-family: 'Arial';
}

.inline {
	display: inline;
}

.container {
	background-color: #ffffff;
	width: 889px;
	margin: 10px 15% 10px 15%;
}

.spiegel-online {
	height: 30px;
	width: 283px;
	margin-left: 20px;
	margin-top: 20px;
}

.der-spiegel {
	height: 20px;
	width: 131px;
	margin-left: 20px;
}

.spiegel-tv {
	height: 22px;
	width: 120px;
	margin-left: 18px;
	margin-bottom: -2px;
}

.right-nav {
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}

.fa-search {
	font-size: 1.65em;
}

.log-in {
	background-color: #900;
	color: white;
	border-radius: 3px;
	font-size: .85em;
	margin-top: 0px;
	margin-left: 12px;
	padding: 5px 9px;
	border: none;
	outline: none;
	cursor: pointer;
}

.log-in:hover {
	text-decoration: underline;
}

.site-nav {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding-top: 5px;
	margin-top: 8px;
	margin-left: 20px;
	margin-right: 20px;
}

.fa-bars {
	font-size: 1.85em;
	margin-right: 7px;
	padding-bottom: 5px;
	cursor: pointer;
}

.site-nav p {
	margin-left: 7px;
	cursor: pointer;
	letter-spacing: -.02em;
	font-weight: 300;
}

.site-nav p:hover {
	text-decoration: underline;
}

.politik {
	color: #ccc;
}

.site-nav p i {
	margin-left: 6px;
}

.banner {
	border-bottom: 1px dotted #ccc;	
	margin-left: 20px;
	padding-top: 3px;
	padding-bottom: 2px;
}

.politik-bold {
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 334px;
	font-weight: 600;
	font-size: 1.6em;
	letter-spacing: -.04em;
}

.banner-text {
	font-size: .85em;
	margin-right: 5px;
}

.fa-sun-o {
	color: #ffd700;;
}

.banner-link {
	color: #900;
}

.banner-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.breadcrumb {
	color: #aaa;
	margin-left: 20px;
	font-size: .75em;
	letter-spacing: -.03em;
}

.breadcrumb-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.sub-title {
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 5px;
	font-weight: 600;
	letter-spacing: -.03em;
}

.title {
	color: #900;
	letter-spacing: -.03em;
	font-weight: 600;
	font-size: 1.8em;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.article {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 1.3em;
	letter-spacing: -.03em;
}

.image {
	width: 95%;
	margin: 15px 2.5% 0px 2.5%;
}

.photographer {
	margin-top: 0px;
	margin-right: 20px;
	text-align: right;
	color: #aaa;
	font-size: .7em;
}

.social-buttons {
	margin-left: 7px;
	margin-bottom: 50px;
}


























